body{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    width: 65%;
}
td{
    text-align: center;
}
td, th {
    border: 1px solid #d6bbbb;
    padding: 13px;
    font-size: 14px;
    text-transform: capitalize;
}
tr:nth-child(even) {
    background-color: #f1f1f2;
}

.txt{
    font-size: 20px;
}
.top-heading{
    background-color: #C7081B;
    color: white;
    font-weight: bold;
}
@media screen and (max-width: 900px){
    table{
        width: 80%;
        padding: 5px;
    }
    td, th {
        border: 1px solid #dddddd;
        padding: 6px;
        font-size: 11px;
    }
}

